*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*nav start*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: #FFFFFF;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li:hover{
    font-weight: bold;
}
nav ul a{
    text-decoration: none;
    color: #575757;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .left-nav .logo p{
    color: #3B82F6;
    font-size: 30px;
}
nav .right-nav button{
    width: 150px;
    height: 40px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
}
nav .right-nav button:hover{
    background-color: #3d5492;
    box-shadow: 0.5px 0.5px 30px grey;
    color: white;
}
/*nav closed*/

/*hero start*/
header{
    background-image: linear-gradient( rgba(51, 51, 51, 0.2), rgba(0, 0, 0, 0.7)), url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: white;
    text-align: center;
}
header h1{
    font-family: "Inter", sans-serif;
    font-size: 3rem;
}
header h1,p{
    margin: 10px;
}
.container{
  
}
header p{
    color: #e4e4e4;
     font-family: "Inter", sans-serif;
     font-size: 12px;
}
header .button2{
    width: 150px;
    height: 40px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 200px;
}
header .button2:hover{
    box-shadow: 1px 1px 30px rgb(141, 133, 133);
}
/*hero closed*/


/*main sec-start*/
.main-sec{
    max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   
}
.main-parent{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
}
.main-parent .box:hover{
    box-shadow: 1px 1px 30px grey;
}
.main-sec h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.box img{
    width: 100%;
    border-radius: 5px;
}
.box p{
    text-align: left;
}
.box h4{
    margin-left: 8px;
}

.p1{
    color: #2563EB;
    font-size: 10px;
   
}
.p2{
    color: #575757;
}
.main-parent h4{
    font-weight: bold;
    font-size: 20px;
}
/*main sec closed*/

/*card sec start*/
.cardbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div-sec{
     max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}
.div-sec h1,p{
    text-align: center;

}
.div-sec h1{
    margin-top: 150px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1B2A;
}
.div-sec p{
    margin-bottom: 50px;
    color: #575757;
}
/*card box end*/

/*card1 start*/
.cardbox .card1{
    height: 380px;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
}
.cardbox .card1 .pera1{
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    color: #888888;
    margin-bottom: 0px;
    font-size: 12px;
}
.cardbox .card1 h2{
    padding-left: 20px;
    font-size: 2.2rem;
    color: #0D1B2A;
    margin-bottom: 0px;
}
.cardbox .card1 .pera2{
     text-align: left;
    padding-left: 10px;
    color: #888888;
    margin-top: 0px;
    font-size: 9px;
}
.cardbox .card1 ul{
    margin: 5px;
    padding-left: 30px;
    text-align: left;
    font-size: 1rem;
    margin-top: 0px;
}
.cardbox .card1 ul li{
    margin: 10px 0;
    color: #333333;
}
.cardbox .card1 button{
    width: 250px;
    height: 25px;
    color: #2563EB;
    border: 1px solid #2563EB;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    font-weight: bold;
}
.cardbox .card1:hover{
    box-shadow: 1px 1px 40px gray;
}
/*CARD1 END*/

/*card2 start*/
.cardbox .card2{
     height: 380px;
    width: 300px;
    background-color: #0D1B2A;
    border-radius: 12px;
}
.cardbox .card2 .pera1{
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    color: #93C5FD;
    margin-bottom: 0px;
    font-size: 12px;
}
.cardbox .card2 h2{
    padding-left: 20px;
    font-size: 2.8rem;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.cardbox .card2 .pera2{
     text-align: left;
    padding-left: 10px;
    color: #888888;
    margin-top: 0px;
    font-size: 9px;
}
.cardbox .card2 ul{
    margin: 5px;
    padding-left: 30px;
    text-align: left;
    font-size: 1rem;
    margin-top: 0px;
}
.cardbox .card2 ul li{
    margin: 10px 0;
    color: #FFFFFF;
}
.cardbox .card2 button{
    width: 250px;
    height: 35px;
    color: #FFFFFF;
    background-color: #2563EB;
    border: 1px solid #2563EB;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: bold;
}
.cardbox .card2:hover{
    box-shadow: 1px 1px 40px #3B82FC;
}
/*CARD2 END*/
/*CARD3 START*/

.cardbox .card3{
    height: 380px;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
}

.cardbox .card3 .pera1{
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    color: #888888;
    margin-bottom: 0px;
    font-size: 12px;
}
.cardbox .card3 h2{
    padding-left: 20px;
    font-size: 2.2rem;
    color: #0D1B2A;
    margin-bottom: 0px;
}
.cardbox .card3 .pera2{
     text-align: left;
    padding-left: 10px;
    color: #888888;
    margin-top: 0px;
    font-size: 9px;
}
.cardbox .card3 ul{
    margin: 5px;
    padding-left: 30px;
    text-align: left;
    font-size: 1rem;
    margin-top: 0px;
}
.cardbox .card3 ul li{
    margin: 10px 0;
    color: #333333;
}
.cardbox .card3 button{
    width: 250px;
    height: 35px;
    color: #2563EB;
    border: 1px solid #2563EB;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: bold;
}
.cardbox .card3:hover{
    box-shadow: 1px 1px 40px gray;
}
/*card3 closed*/

/*challenge section start*/
.challenge{
    max-width: 1200px;
   margin: 100px auto;
   padding: 80px 20px;
   border-radius: 10px;
   background-color: #0D1B2A;
   box-shadow: 2px 2px 30px grey;
}
.challenge  h1{
    text-align: center;
    margin-bottom: 0px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #567da1;
}
.challenge  p{
     text-align: center;
     margin-bottom: 50px;
     color: #979494;
}
.challenge-child{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
}
.challenge-child .Sponsors1{
    padding: 30px 50px;
    background-color: rgb(168, 165, 165);
    text-align: center;
    border-radius: 10px;
}
.challenge-child .Sponsors1 i{
   font-size: 50px;
   margin-bottom: 10px;
   color: #34509c;
}
.challenge-child .Sponsors1:hover{
    box-shadow: 1px 1px 30px rgb(117, 113, 113);
}
.challenge-child .Sponsors2{
    padding: 30px 50px;
    background-color: rgb(168, 165, 165);
    text-align: center;
    border-radius: 10px;
}
.challenge-child .Sponsors2 i{
    font-size: 50px;
   margin-bottom: 10px;
   color: #34509c;
}
.challenge-child .Sponsors2:hover{
    box-shadow: 1px 1px 30px rgb(117, 113, 113);
}
.challenge-child .Sponsors3{
    padding: 30px 50px;
    background-color: rgb(168, 165, 165);
    text-align: center;
    border-radius: 10px;
}
.challenge-child .Sponsors3 i{
     font-size: 50px;
   margin-bottom: 10px;
   color: #34509c;
}
.challenge-child .Sponsors3:hover{
    box-shadow: 1px 1px 30px rgb(117, 113, 113);
}
.challenge-child .Sponsors4{
    padding: 30px 50px;
    background-color: rgb(168, 165, 165);
    text-align: center;
    border-radius: 10px;
}
.challenge-child .Sponsors4 i{
    font-size: 50px;
   margin-bottom: 10px;
   color: #34509c;
}
  .challenge-child .Sponsors4:hover{
    box-shadow: 1px 1px 30px rgb(117, 113, 113);
}






/*footer sec start*/
footer{
    background-color: #0D1B2A;
}
footer .footer-icon{
     max-width: 1200px;
   margin: 10px auto;
   padding: 15px 0px 0px 30px;
}
footer .footer-icon i{
    color: rgb(163, 163, 163);
    font-size: 1rem;
}
footer .footer-sec-parent{
    max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   height: 80px;
}
.footer-sec-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-sec-parent div p{
    color: #727272;
}
.footer-sec-parent .right-footer{
    display: flex;
   gap: 30px;
}
.footer-sec-parent .right-footer a{
    text-decoration: none;
    color: #727272;
}
/*footer closed*/
