*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*nav start*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: #FFFFFF;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul a{
    text-decoration: none;
    color: #575757;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .left-nav .logo p{
    color: #3B82F6;
    font-size: 30px;
}
nav .right-nav button{
    width: 150px;
    height: 40px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
}
/*nav closed*/

/*hero start*/
header{
    background-image: linear-gradient( rgba(51, 51, 51, 0.2), rgba(0, 0, 0, 0.7)), url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: white;
    text-align: center;
}
header h1{
    font-family: "Inter", sans-serif;
    font-size: 3rem;
}
header h1,p{
    margin: 10px;
}
.container{
  
}
header p{
    color: #e4e4e4;
     font-family: "Inter", sans-serif;
     font-size: 12px;
}
header .button2{
    width: 150px;
    height: 40px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 200px;
}
/*hero closed*/
